
    <div style="text-align: center" style="font-weight: bold; height: 40px; text-shadow: 0rem; color: rgb(187, 188, 201); background-color:rgb(2, 2, 100);">
      <h1>&nbsp;&nbsp;&nbsp; <span class="highlight" style="font-weight: bold; font-size: 25px; color: rgb(255, 255, 255); ">
        MediCare <a style ="font-size: 20px; font-weight: normal;" >
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;One Life, One Choice...   &nbsp;  Choose</a>    
      </span><a style="color: rgb(61, 128, 214); font-weight: bold; font-size: 22px;"   > BLUE!</a></h1>
  </div>

<app-nav-bar></app-nav-bar>


<router-outlet></router-outlet>
