
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>


<!------ XXXXXXXXXXXXXXXXXXXXXXXXXXXXX  (PRE-LOGIN) PAGES ONLY  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
  <nav *ngIf="!this.loginService.userPagesUnlocked && !this.loginService.adminPagesUnlocked" class="navbar navbar-expand-lg navbar-light bg-light"  style="background:rgb(29, 26, 238)!important;">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      
      <li class="nav-item active">
        <a class="navbar-brand active" href="/home" style="margin-right:50px" >Home</a>
      </li>

      <li class="nav-item active">
        <a class="navbar-brand" href="/about" style="margin-right:50px">About</a>
      </li>
      
      <li class="nav-item active">
        <a class="navbar-brand" href="/contact" style="margin-right:50px">Contact</a>
      </li>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item active">
        <span style="font-size: 18px; color: aliceblue;">SEARCH (By Keyword)</span>
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="font-size: 18px; font-weight: bold;">
        </li>
        <li class="nav-item active">
          &nbsp;&nbsp;
        <button class="btn btn-outline-success" style="height: 50px; font-size: 18px;"  type="submit">Search</button>
      </li>

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <form class="form-inline" style="width: 200px;">
        <span style="font-size: 18px; color: aliceblue;">FILTER (By Category)</span>&nbsp;&nbsp;
        <span class="nav-item dropdown" style="text-align: left;">
          <select style="font-weight: bold; font-size: 16px; width: 250px;" [(ngModel)]="selectedBrand" (change)="valueSelected()" placeholder="fsdfsdf">
            <option *ngFor="let item of fullCategories" style="font-weight: bold; font-size: 16px;" >{{ item.cat }}</option>
          </select>
        </span>
      </form>
    </ul>
  </div>

  <form class="form-inline">
      <a type="button" class="btn btn-primary" routerLink="/login">Account Login</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a type="button" class="btn btn-primary" routerLink="/register" >Register here</a>
      &nbsp;&nbsp;&nbsp;&nbsp;
  </form>

</nav>







<!------ XXXXXXXXXXXXXXXXXXXXXXXXXXXXX  (PRE-LOGIN) PAGES ONLY  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
  <nav *ngIf="this.loginService.adminPagesUnlocked"  class="navbar navbar-expand-lg navbar-light bg-light"  style="background:rgb(105, 3, 3)!important;">
  
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        
        <li class="nav-item active">
          <a class="navbar-brand active" href="/home" style="margin-right:50px" >Home</a>
        </li>
  
        <li class="nav-item active">
          <a class="navbar-brand" href="/about" style="margin-right:50px">About</a>
        </li>
        
        <li class="nav-item active">
          <a class="navbar-brand" href="/contact" style="margin-right:50px">Contact</a>
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item active">
          <span style="font-size: 18px; color: aliceblue;">SEARCH (By Keyword)</span>
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="font-size: 18px; font-weight: bold;">
          </li>
          <li class="nav-item active">
            &nbsp;&nbsp;
          <button class="btn btn-outline-success" style="height: 50px; font-size: 18px;"  type="submit">Search</button>
        </li>
  
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
        <form class="form-inline" style="width: 200px;">
          <span style="font-size: 18px; color: aliceblue;">FILTER (By Category)</span>&nbsp;&nbsp;
          <span class="nav-item dropdown" style="text-align: left;">
            <select style="font-weight: bold; font-size: 16px; width: 250px;" [(ngModel)]="selectedBrand" (change)="valueSelected()" placeholder="fsdfsdf">
              <option *ngFor="let item of fullCategories" style="font-weight: bold; font-size: 16px;" >{{ item.cat }}</option>
            </select>
          </span>
        </form>
      </ul>
    </div>
  
    <form class="form-inline">
      <a class="navbar-brand" href="#" style="font-size: 22px;  margin-right:50px; font-weight: bold; color: rgb(228, 10, 10);">(ADMINISTRATOR)<span style="font-size: 22px;  margin-right:50px; font-weight: normal; color: rgb(255, 255, 255);">&nbsp;&nbsp;KEVIN CASEY</span></a>
    </form>
  
  </nav>



<!------ XXXXXXXXXXXXXXXXXXXXXXXXXXXXX  (PRE-LOGIN) PAGES ONLY  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
<nav *ngIf="this.loginService.userPagesUnlocked"  class="navbar navbar-expand-lg navbar-light bg-light"  style="background:rgb(17, 77, 37)!important;">
  
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      
      <li class="nav-item active">
        <a class="navbar-brand active" href="/home" style="margin-right:50px" >Home</a>
      </li>

      <li class="nav-item active">
        <a class="navbar-brand" href="/about" style="margin-right:50px">About</a>
      </li>
      
      <li class="nav-item active">
        <a class="navbar-brand" href="/contact" style="margin-right:50px">Contact</a>
      </li>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item active">
        <span style="font-size: 18px; color: aliceblue;">SEARCH (By Keyword)</span>
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="font-size: 18px; font-weight: bold;">
        </li>
        <li class="nav-item active">
          &nbsp;&nbsp;
        <button class="btn btn-outline-success" style="height: 50px; font-size: 18px;"  type="submit">Search</button>
      </li>

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <form class="form-inline" style="width: 200px;">
        <span style="font-size: 18px; color: aliceblue;">FILTER (By Category)</span>&nbsp;&nbsp;
        <span class="nav-item dropdown" style="text-align: left;">
          <select style="font-weight: bold; font-size: 16px; width: 250px;" [(ngModel)]="selectedBrand" (change)="valueSelected()" placeholder="fsdfsdf">
            <option *ngFor="let item of fullCategories" style="font-weight: bold; font-size: 16px;" >{{ item.cat }}</option>
          </select>
        </span>
      </form>
    </ul>
  </div>

  <form class="form-inline">
    <button mat-list-item routerLink='/user/cart'><mat-icon>add_shopping_cart</mat-icon>Shopping cart</button>
  </form>

  <form class="form-inline">
    <a class="navbar-brand" href="#" style="font-size: 22px;  margin-right:50px; font-weight: bold; color: rgb(89, 238, 30);">(USER)<span style="font-size: 22px;  margin-right:50px; font-weight: normal; color: rgb(255, 255, 255);">&nbsp;&nbsp;KEVIN CASEY</span></a>
  </form>

</nav>