
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>


<!------ XXXXXXXXXXXXXXXXXXXXXXXXXXXXX  (PRE-LOGIN) PAGES ONLY  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
  <nav *ngIf="!this.loginService.isLoggedIn() " class="navbar navbar-expand-lg navbar-light bg-light"  style="background:rgb(29, 26, 238)!important;">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      
      <li class="nav-item active">
        <a class="navbar-brand active" href="/home" style="margin-right:50px" >Home</a>
      </li>

      <li class="nav-item active">
        <a class="navbar-brand" href="/about" style="margin-right:50px">About</a>
      </li>
      
      <li class="nav-item active">
        <a class="navbar-brand" href="/contact" style="margin-right:50px">Contact</a>
      </li>
     
    </ul>
  </div>

  <form class="form-inline">
      <a type="button" class="btn btn-primary" routerLink="/login">Account Login</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a type="button" class="btn btn-primary" routerLink="/register" >Register here</a>
      &nbsp;&nbsp;&nbsp;&nbsp;
  </form>

</nav>




<!------ XXXXXXXXXXXXXXXXXXXXXXXXXXXXX  (ADMIN) PAGES ONLY  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
  <nav *ngIf="this.loginService.isLoggedIn() && this.loginService.getUserRole() === 'ROLE_ADMIN'"  class="navbar navbar-expand-lg navbar-light bg-light"  style="background:rgb(116, 24, 24)!important;">
  
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        
        <li class="nav-item active">
          <a class="navbar-brand active" href="/home" style="margin-right:50px" >Home</a>
        </li>
  
        <li class="nav-item active">
          <a class="navbar-brand" href="/about" style="margin-right:50px">About</a>
        </li>
        
        <li class="nav-item active">
          <a class="navbar-brand" href="/contact" style="margin-right:50px">Contact</a>
        </li>
        
      
      </ul>
    </div>
  
    <form class="form-inline">
      <a class="navbar-brand" href="#" style="font-size: 27px;  margin-right:10px; font-weight: normal; color: rgb(252, 11, 11);">ADMINISTRATOR - MODE</a>
    </form>
  </nav>



<!------ XXXXXXXXXXXXXXXXXXXXXXXXXXXXX  (USER) PAGES ONLY  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
<nav *ngIf="this.loginService.isLoggedIn() && this.loginService.getUserRole() === 'ROLE_USER'"  class="navbar navbar-expand-lg navbar-light bg-light"  style="background:rgb(17, 77, 37)!important;">
  
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      
      <li class="nav-item active">
        <a class="navbar-brand active" href="/home" style="margin-right:50px" >Home</a>
      </li>

      <li class="nav-item active">
        <a class="navbar-brand" href="/about" style="margin-right:50px">About</a>
      </li>
      
      <li class="nav-item active">
        <a class="navbar-brand" href="/contact" style="margin-right:50px">Contact</a>
      </li>
      &nbsp;&nbsp;&nbsp;
      
    </ul>
  </div>


  <form class="form-inline">

    <span style="font-size: 27px;  font-weight: normal; color: rgb(255, 255, 255);">"Hello There  - </span>
    <span style="font-size: 27px;  font-weight: normal; color: rgb(255, 255, 255);"> <i>&nbsp;&nbsp;{{this.loginService.getUser().firstName}}"</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
   
    <a class="navbar-brand" href="#" style="font-size: 22px;  font-weight: bold; color: rgb(89, 238, 30);">CUSTOMER MODE   </a>
  </form>
 

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <form class="form-inline">
    <img style="width: 42px;" src="../assets/cart1.png">
    <button style="font-size: 25px; color: aliceblue;"  routerLink="/user/cart" class="btn">Shopping Cart</button>
</form>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</nav>