
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!DOCTYPE html>
<html>

<header role="contentinfo" style="background-color:rgb(40, 19, 163); color: antiquewhite;">
    <br>
    <p style="font-size: 40px;">&nbsp;  ABOUT US</p>
</header>



<body style="background-color:rgb(40, 19, 163)">
<div class="container" >
    <div class="row"  style="background-color: rgb(40, 19, 163)">
        <div class="col-md-6">
            <form (ngSubmit)="formSubmit()">
                <fieldset>
                  
                    <div class="row">
                        <legend class="text-center" style="font-size: 25px;  font-weight: bold; color: rgb(50, 216, 245);" > ALL ABOUT MEDICARE </legend>
                    </div>

                    <div class="row" style="font-size: 16px;  font-weight: bold; color: rgb(177, 201, 206);" >
                        MEDICARE is an Online Pharmacy with a growing number of medications covering the nations health-care needs spanning
                        a number of categories, including a variety of solutions for HEART HEALTH, DIABETES, BLOOD PRESSURE, and DEPRESSION. 
                        We offer the best online experience of any site on the web.  MEDICARE has you back and will always honor
                        the price reflected at the time you purchased your medication. If you recieve a different form, dosage, 
                        or quantity, you will be charged or credited the difference.   MEDICARE reserves the right to cancel a 
                        transaction and refund you at any time. MEDICARE reserves the right to change its prescription drug prices
                        in real time based on supply and demand trends and other factors. 
                    </div>
                    <br>
                    <div class="row" style="font-size: 16px;  font-weight: bold; color: rgb(177, 201, 206);" >
                        *Retail Prices (Cash Prices) vary among pharmacies. The Retail Prices displayed are estimates based
                         on multiple sources, including price lists, historical claims and data provided by pharmacies.
                         MEDICARE is not sponsored by or affiliated with any of the pharmacies identified. 
                         All medicines sold carrying pharmaceutical trademarks and logos are the property of their respective owners. 
                         MEDICARE is not offering advice, recommending or endorsing any specific prescription drug, pharmaceutical or other 
                         information. Please seek medical advice before starting, changing or terminating any medication or
                         prescription. Disclosures: MEDICARE is NOT insurance or a Medicare prescription drug plan.
                         Users are obligated to pay the price presented during the checkout process. MEDICARE is
                         available to users at anywhere in the United States. No enrollment or periodic fees apply.
                    </div>

                    <br>

                    <div class="row" style="font-size: 16px;  font-weight: bold; color: rgb(177, 201, 206);" >
                        THANK YOU... for CHOOSING BLUE!
                    </div>


                </fieldset>
            </form><!-- ends register form -->

        </div><!-- ends col-6 -->

    

        <div class="col-md-6" style="background-color: transparent; padding-left: 30px;">
            <form>
                <fieldset>
                    <br>  <br>
                    <img style ="width: 760px;  padding: 0;" src="../../assets/meds_fancy1.jpg" alt="" />

                </fieldset>
            </form>    
        </div><!-- ends col-6 -->

        
    </div>
</div>
</body>

<br>

<footer role="contentinfo" style="background-color:rgb(18, 17, 24); color: antiquewhite;">
    <p style="text-align: right;  font-size: 20px;"> Developed by Kevin Casey, 2021 FullStack Web Development Course - 'Medicare' Capstone Project, &#169; 2021 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p></p>
</footer>
</html>